#topArchive
  height 100%

#vibrant
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0,0,0,.28)

@media screen and (max-width: 780px) {
  #vibrant svg {
    display: none;
  }
}

#topArchive-content
  position absolute
  top 42%
  left 10%
  width 28%
  .date 
    color #fff
    font-size 10px
  .title
    font-size 28px
    margin-top 15px
    font-weight 400
    a
      color #fff
      text-decoration none
  .description
    color #fff
    font-size 13px
    margin-top 30px
    line-height 18px