<% 
if (theme.gitment.enable) {
    if (theme.gitment.lazy){
%>
         <div onclick="ShowGitment()" id="gitment-display-button"><% __('gitmentbutton') %></div>
         <div id="gitment-container" style="display:none"></div>
<%
    } else {
%>
        <div id="gitment-container"></div>
<%
    }
} 
%>